<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="C:\Users\sneha\Desktop\Project\Project Development Phase\Sprint 3\Application Building\Flask\static\CSS\intro.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poor+Story&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Poor+Story&display=swap" rel="stylesheet">
	<title>Intro</title>
</head>
<body>
<div class="topnav">
  <span>Hand Gesture System</span>
  <a href="launch.html">Launch</a>
  <a class="active" href="#Intro">Intro</a>
  <a  href="home.html">Home</a>
</div>

<div class="title">
	<p class="intro">INTRODUCTION</p>
</div>

<div class="container">
<span class="content"> Hand Gesture recognition system  provides us  an innovative,natural,  user friendly  way of interaction  with the computer
   which is more  familiar to the human beings.  In our project,  the hand region > is extracted from  the background   by using
 Region of intrest.  Then,  we will be predicting the labels  based on the  CNN trained model weights   of hand gestures using that predicted labels
 we apply if conditions  to control some of the actions like reshaping , blur, flip of the given image.</span>
</div>

</body>
</html>
